.geography {
    &__inner {
        text-align: center;
    }
    &__descrip {
        max-width: 553px;
        margin: 0 auto;
        padding: 13px 0 57px 0;
        font-size: 16px;
        line-height: 25.6px;
        color: #666666;
    }
}