.success {
    &__blocks {
        display: flex;
        justify-content: space-between;
        padding-top: 66px;
    }
    &__img {
        width: 436px;
        height: 272px;
    }
    &__info {
        padding: 20px 25px 31px 24px;
        box-shadow: 1px 2px 26.6px 0px #00000026;
        &-title {
            color: #002933;
            font-size: 22px;
            line-height: 26.4px;
            font-weight: 600;
            max-width: 344px;
        }
    }
    &__triangle {
        border-bottom: 121px solid rgba(204, 28, 25, 0.9);
        border-left: 127px solid transparent;
        width: 121px;
        height: 127px;
        position: absolute;
        bottom: 103px;
        right: 0;
    }
    &__block {
        position: relative;
        height: 375px;
    }
    &__arrow {
        position: absolute;
        top: 220px;
        right: 30px;
    }
}